.grid {
    display: flex;   /* <--- required */
}

.column {
    flex: 1; /* <--- required (style column to fill the same space as the other columns) */
}

.row {
    margin: 2px;
    padding: 0;
    border: solid black 0.5px;
    text-align: center;
    aspect-ratio: 1/1;
}

.row.color {
    background: gray;
}

#main {
    height: 600px;
    width: 600px;
}

.button-container {
    display:flex;
    gap: 12px;
    margin: 16px;
}